$icons: "admin", "back", "bookshelf", "clock", "collection", "copies-white", "edit",
  "icons", "loan", "profile", "profile-edit", "search", "shelf", "star";

.icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  filter: brightness(0);
}
@each $icon in $icons {
  .#{$icon} a {
    background-image: url(../images/#{$icon}.svg);
  }
  span.#{$icon} {
    background-image: url(../images/#{$icon}.svg);
  }
}
